
<div class="card mb-3">
  <h3 class="card-header">Angular PWA Demo Application</h3>

  <img  class="home-image"  src ="./../assets//img/aga.jpg" alt="aga">
  <div class="card-body">
    <p class="card-text">tech infor</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">PWA</li>
    <li class="list-group-item">Firebase</li>
    <li class="list-group-item">Singe Page Application</li>
    <li class="list-group-item">OMDb API</li>
  </ul>
  <div class="card-body">
    Developed by Agnieszka Krawczyk
  </div>
  <div class="card-footer text-muted">
    &copy; 2020 All rights reserved
  </div>
</div>
